@import "reset.css";

body {
  background: #f5f5f5;
  color: #3f2629;
  font:
    18px / 1.4 "Open Sans",
    sans-serif;
}

a {
  color: #00a0b0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 1px 1px 0 #ddd;
  color: #8f252f;
  margin: 0 0 20px;
}
h1 {
  font-weight: 600;
  font-size: 55px;
  text-align: center;
  color: #8f252f;
  text-shadow: 2px 2px 0 #ddd;
  padding: 40px 0;
}
h1 span {
  font-size: 17px;
  display: block;
  color: #3f2629;
}
h2 {
  font-size: 22px;
}

table {
  width: 100%;
  margin: 0 0 30px;
}
th {
  text-align: left;
}
th,
td {
  border-bottom: 1px solid #ddd;
}

/* Forms and buttons */
.button-reset {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
  cursor: pointer; /* or default if you want it to behave like a div */
  display: block; /* or inline-block, flex, etc. as needed */
}
.button {
  background: #5ec456;
  border: 1px solid #3e9436;
  color: #fff;
  text-shadow: 1px 1px 0 #3e9436;
  padding: 3px 7px;
  border-radius: 4px;
}
.button:hover {
  background: #4eb446;
}
.danger {
  background: #c1353e;
  border-color: #a11413;
  text-shadow: 1px 1px 0 #a11413;
  padding: 0 5px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 2px;
}
.danger:hover {
  background: #b1252e;
}
input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 160px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
  appearance: textfield; /* Firefox */
  -moz-appearance: textfield; /* Firefox */
}
.input-sm {
  width: 47px;
}

/* Helper classes */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right;
}

/* JOINS */
.joins {
  text-align: center;
  margin: 0 0 30px;
}
.joins h2 {
  margin: 0;
  color: #6a4a3c;
}
.subtitle {
  font-size: 12px;
  color: #999;
  margin: 0 0 10px;
}

.join {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  transition:
    transform 0.4s,
    background 0.2s;
}
.join:hover {
  transform: scale(1.1);
}
.join:hover,
.current-join {
  cursor: pointer;
  background: #fff;
  border-color: #ddd;
  border-radius: 4px;
}

/* SQL */
.sql-table {
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 4px 4px 0 4px;
  margin: 0 0 30px;
  box-shadow: inset 0 0 10px #eee;
}
.sql-table:before {
  content: "SQL";
  position: absolute;
  top: -14px;
  left: 50%;
  display: block;
  width: 46px;
  margin: 0 0 0 -23px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 2px 0;
}
.sql-table table {
  text-align: center;
  height: 80px;
  margin: 0;
}
.sql-table td {
  border: none;
  padding: 10px 0;
  vertical-align: middle;
  position: relative;
}
.sql {
  margin: 0 0 30px;
  text-align: center;
  color: #777;
  text-shadow: 1px 1px 0 #fff;
}

.show-desc {
  position: absolute;
  bottom: -24px;
  right: -1px;
  padding: 1px 5px 3px;
  border-radius: 0 0 4px 4px;
  color: #00a0b0;
  border: 1px solid #ddd;
  border-top: none;
  background: #f9f9f9;
}
.show-desc:hover {
  color: #eb6841;
  cursor: pointer;
}
.desc {
  display: block;
  padding: 15px 0;
  border-top: 1px dashed #ddd;
  margin: 15px 20px 0;
  color: #444;
}

/* Tables */
.tables {
  margin: 0 0 30px;
}
.tables tr:nth-of-type(odd) td {
  background: #fafafa;
}
.tables button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.tables > div:hover button {
  pointer-events: auto;
  opacity: 1;
}
.user {
  color: #00a0b0;
}
.like {
  color: #eb6841;
}
/* States */
.is-null {
  color: #ccc;
}
.is-not-selected td {
  text-decoration: line-through;
  color: #777;
  font-weight: 300;
}

/* Footer */
.footer {
  font-size: 14px;
  color: #777;
  border-top: 1px solid #ddd;
  padding: 10px 15px 30px;
}

/* Modals */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 300px;
  margin: -40px 0 0 -150px;
  padding: 15px;
  border: 2px solid #6a4a3c;
  background: #fff;
  border-radius: 8px;
  box-shadow: inset 0 0 6px #888;
}
